assign4/step_function.txt
{  "StartAt": "IsNewCourse",  "States": {    "IsNewCourse": {      "Type": "Task",      "Resource": "arn:aws:lambda:us-east-2:540381565181:function:newCourseOrNot",      "Next": "ChoicesType"    },    "ChoicesType": {      "Type": "Choice",      "Choices": [          {            "Variable": "$.isNewCourse",            "NumericEquals": 0,            "Next": "CreateRegister"          }        ],      "Default": "DefaultState"    },    "DefaultState": {      "Type": "Succeed"    },    "CreateRegister": {      "Type": "Task",      "Resource": "arn:aws:lambda:us-east-2:540381565181:function:createRegisterItem",      "Parameters": {                "Item": {                  "department": {                    "S": "$.department"                  },                  "offeringId": {                    "S": "$.courseId"                  },                  "offeringType": {                    "S": "Course"                  },                  "perUnitPrice": {                    "N": "1500"                  },                  "registrationId": {                    "S": "$.courseId"                  }                }            },      "Next": "CreateBoard"    },    "CreateBoard": {    "Type": "Task",    "Resource": "arn:aws:lambda:us-east-2:540381565181:function:createBoardItem",    "Parameters": {                "Item": {                  "boardId": {                    "S": "$.boardId"                  },                  "courseId": {                    "S": "$.courseId"                  }                }            },    "Next": "DefaultState"  }  }}